.base-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.base-nav {
    grid-column: span 3;
    padding: 1rem 2rem;
    background-color: var(--code-background-color);
    border-bottom: 1px solid var(--muted-border-color);
}

.base-aside {
    padding: 2rem;
    background-color: var(--code-background-color);
    border-right: 1px solid var(--muted-border-color);
}

.base-children {
    flex: 1;
    padding: 2rem 0;
}

@media (min-width: 768px) {
    .base-layout {
        display: grid;
        grid-template-columns: 280px 1fr;
        grid-template-rows: auto 1fr;
    }
    .base-children {
        padding: 2rem;
    }
}