.full-page {
    height: 100vh;
    width: 100vw;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#indeterminate-progress {
    max-width: 400px
}

.switcher {
    position: fixed;
    right: calc(var(--spacing));
    bottom: var(--spacing);
    width: auto;
    padding: .75rem;
    border-radius: 100%;
    box-shadow: var(--card-box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    width: 4rem;
    height: 4rem;
    border-radius: 100px;
    object-fit: cover;
}

.client-card-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.sm-button {
    max-width: 5rem;
}

.portal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
}

.modal {
    min-width: 70vw;
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.skeleton-field {
    -webkit-animation: skeleton-field-loading 1s linear infinite alternate both;
    animation: skeleton-field-loading 1s linear infinite alternate both;
    height: 100%;
}